/*
 * rotcelloc webapp styles
 *
 * Part of rotcelloc - the hacker's movie, tv-series and game collection
 * manager
 *
 * Copyright (C) Eskild Hustvedt 2023
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
// Bootstrap: Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// Bootstrap: Include any default variable overrides here
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1141px,
);

// Bootstrap: Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

// Bootstrap: Include any default map overrides here

// Bootstrap: Include remainder of required parts
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

// Bootstrap: Include any other parts as needed

@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
//@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/accordion";
//@import "~bootstrap/scss/breadcrumb";
//@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/progress";
//@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
//@import "~bootstrap/scss/modal";
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
//@import "~bootstrap/scss/offcanvas";
//@import "~bootstrap/scss/placeholders";

@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";

.poster {
    overflow: hidden;
    height: 394px;
    img {
        max-height: 394px;
    }
    @include media-breakpoint-up(md) {
        height: 234px;
        h1 {
            font-size: $h3-font-size;
        }
        h4 {
            font-size: $h5-font-size;
        }
        img {
            max-height: 234px;
        }
    }
    @include media-breakpoint-up(lg) {
        height: 324px;
        h1 {
            font-size: $h1-font-size;
        }
        h4 {
            font-size: $h4-font-size;
        }
        img {
            max-height: 324px;
        }
    }
    @include media-breakpoint-up(xl) {
        height: 394px;
        img {
            max-height: 394px;
        }
    }
    h1 {
        margin-top: 1em;
    }
    &.poster-generated {
        max-width: 263px;
    }
}
.meta-label {
    min-width: 100px;
    padding-right: 0.5em;
    display: inline-block;
}
a,
.linkLike:hover,
.linkLike.linkLike-always {
    &:hover {
        color: $link-color;
    }
    color: $body-color;
    cursor: pointer;
    text-decoration: underline;
}
.buttonbar {
    .btn:hover {
        &.active {
            color: var(--bs-btn-active-color);
            background-color: var(--bs-btn-active-bg);
        }
        background-color: $gray-400;
        color: black;
    }
}
.no-select {
    user-select: none;
}
